*{
    font-family:  "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  margin:0;
}
body{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    background-color: #272B33;
}
#c-box{
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 80em;
}
#header{
    display: flex; 
    flex-direction: column;
    align-items: center;    
    background-image:linear-gradient(to bottom, #3b3b3b,gray ) ;
    padding: 1em 0em;
}
main{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#navbar{
    display: flex;
    flex-direction:row;
}
a{
    margin: 1em 0.5em;
    text-decoration: none;
}
a:hover{
    color: yellow;
}
button{
    margin: 1em 0.5em;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
button:hover{
    color: yellow;}

#characters{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 20px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    padding: 0px;
    border-radius: 0.4em;
    width: 15em;
    height: 30em;
    flex-wrap: wrap;
    transform: scale(1);
    transition: 0.4s
}
.card:hover{
    box-shadow: #242424 0px 0px 12px;
    transform: scale(1);
}
.card img{
    height: 15em;
    width: auto;
    transform: scale(1);
    transition: 0.6s ;
}
.card img:hover{
    transform:scale(1.25)
}
.card-info{
    display:flex;
   flex-direction:column;
   height: 40%;
   width: 100%;
   padding: 0em 1em;
   justify-content: left;
   background-color: #3b3b3b;
   box-sizing: border-box;
   border-radius: 0em 0em 0.4em 0.4em;

}
.card-info_data{
    padding-top: 0%;
    color: yellow;
}
.card-info h2{
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}
.card-img{
    display: flex;
    background-image:linear-gradient(90deg,rgb(216, 216, 216), rgb(255, 255, 255),rgb(216, 216, 216) ) ;
    width: 100% ;
    height: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px ;
}
#pages{
    display:flex ;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}