body > div{
    display: flex;
    flex-direction:column;   
    justify-content: center;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-group{
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;  
    align-items: stretch;
}

.form-group-button{
    margin: 0 1em 0 1em;
    display: flex;
    justify-content: center;  
    width: 100%;
}